<style>
  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropbtn {
      background-color: #d6d6d6;
      color: black;
      padding: 5px 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown:hover .dropbtn {
      background-color: #b7b7b7;
  }
</style>
<div class="row">
    <div class="col-md-12">
        <h4>Today</h4>
        <hr>
        <div class="my-4">
          
        </div>
        <canvas id="myChart" class="w-100" height="350px"></canvas>
        <div class="my-5" style="height: 20px;">
            <span class="float-end">Total Sale : 10000</span>
        </div>
        <div class="dropdown my-2">
          <button class="dropbtn">Sales Report</button>
          <div class="dropdown-content">
              <a href="/admin/Dashboard?sale=year">Year</a>
              <a href="/admin/Dashboard?sale=month">Month</a>
              <a href="/admin/Dashboard?sale=today">Today</a>
          </div>
        </div>
        <div class="dropdown show w-100">
        </div>
        <div class="table-responsive">
          <%= monthlyOrderPrices %>
            <table class="table table-striped table-sm text-center">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>orderId</th>
                    <th>Customer</th>
                    <th style="min-width: 200px;">payment Method</th>
                    <th>address</th>
                    <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                  <% 
                    let i = 1
                    orderReport.forEach(element => { 
                  %>
                    <tr>
                    <td><%= i %></td>
                    <td><%= element._id %></td>
                    <td><%= element.user %></td>
                    <td><%= element.paymentMethod %></td>
                    <td><%= element.address %></td>
                    <td><%= element.subTotal %></td>
                    </tr>
                  <% i++ }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: 'Total sales',
            data: newArr,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    });
</script>

