<!--  Header End -->
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4 float-start">Users</h5>
      <div class="card w-100">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table text-nowrap text-center mb-0 align-middle">
              <% if (locals.status === "success") { %>
                  <div class="alert alert-success" role="alert">
                      <%= locals.msg %>
                  </div>
                  <script>
                    setTimeout(()=>{
                      window.location.href = "http://127.0.0.1:3000/admin/users"; 
                    },800)
                  </script>
              <% } if(locals.status === "error"){ %>
                  <div class="alert alert-danger" role="alert">
                      <%= locals.msg %>
                  </div>
                  <!-- <script>
                    setTimeout(()=>{
                      window.location.href = "http://127.0.0.1:3000/admin/users"; 
                    },800)
                  </script> -->
              <% } %>
              <thead class="text-dark fs-4">
                <tr>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Id</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">First Name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Last Name</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Email Id</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Mobile Number</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Addresses</h6>
                  </th>
                  <th class="border-bottom-0">
                    <h6 class="fw-semibold mb-0">Action</h6>
                  </th>
                </tr>
              </thead>
              <tbody>
                
                <% if(locals.data){ 
                  let i = 1;
                  data.forEach((item)=>{
                %>
                <tr>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-0"><%= i %></h6>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1"><%= item.firstName %></h6>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1"><%= item.lastName %></h6>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1"><%= item.email %></h6>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1"><%= item.phone %></h6>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1"><%= item.addresses %></h6>
                    </td>
                    <td class="border-bottom-0">
                      <h6 class="fw-semibold mb-1">
                        <% if (!item.blocked) { %>
                          <a href="/admin/userStatus/<%= item._id %>-true">
                            <button type="button" class="btn btn-danger w-100">Block User</button>
                          </a>
                        <% } else { %> 
                          <a href="/admin/userStatus/<%= item._id %>-false">
                            <button type="button" class="btn btn-success w-100">Unblock User</button>
                          </a>
                        <% } %>
                      </h6>
                    </td>
                </tr>
                <% i++ }) }else{ %>
                    <%= "No Products Available" %>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>