<!--  Header End -->
<div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <% if (locals.status === "success") { %>
            <div class="alert alert-success" role="alert">
                <%= locals.msg %>
            </div>
            <script>
              setTimeout(()=>{
                window.location.href = "/admin/category"; 
              },800)
            </script>
        <% } if(locals.status === "error"){ %>
            <div class="alert alert-danger" role="alert">
                <%= locals.msg %>
            </div>
            <script>
              setTimeout(()=>{
                window.location.href = "/admin/category"; 
              },800)
            </script>
        <% } %>
        <h5 class="card-title fw-semibold mb-4 float-start">Category</h5>
        <a href="/admin/createcategory"><button type="button" class="btn btn-primary float-end">Add category</button></a>
        <div class="card w-100">
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table text-center table-striped text-nowrap mb-0 align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Id</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">category Name</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Status</h6>
                    </th>
                    <th class="border-bottom-0">
                      <h6 class="fw-semibold mb-0">Action</h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% if(locals.data.length > 0){ 
                    let i = 1;
                    data.forEach((item)=>{
                  %>
                  <tr>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-0"><%= i %></h6>
                      </td>
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1"><%= item.categoryName %></h6>
                      </td>
                      
                      <td class="border-bottom-0">
                        <h6 class="fw-semibold mb-1">
                          <% if (!item.status) { %>
                            <a href="/admin/categoryStatus/<%= item._id %>-true">
                              <button type="button" class="btn btn-danger w-50">Deactive</button>
                            </a>
                          <% } else { %> 
                            <a href="/admin/categoryStatus/<%= item._id %>-false">
                              <button type="button" class="btn btn-success w-50">Active</button>
                            </a>
                          <% } %>
                        </h6>
                      </td>
                      <td class="border-bottom-0">
                          <a href="/admin/editCategory?id=<%= item._id %>"><button type="button" class="btn btn-primary w-50">Edit</button></a>
                          <br><br>
                          <a href="/admin/deleteCategory?id=<%= item._id %>"><button type="button" class="btn btn-danger w-50" onclick="return confirm('Are you sure to Delete?')">Delete</button></a>
                      </td>
                  </tr>
                  <% i++ }) }else{ %>
                      <tr><p></p><%= "No Categories To Show" %></p></tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>