<!-- include header -->
<%- include('./includes/header') %>

    <section style="background-color: #eee;">
        <div class="container profile-section">
            <div class="row">
                <%-include("./includes/profileLeft") %>
                <div class="col-lg-8">
                    <div class="card mb-4 profile-right">
                        <div class="card-body">
                            <div class="row py-3">
                                <div class="col-sm-12">
                                    <h3 class="mb-3 float-start">Current Orders</h3>
                                    <a href="/order-history">
                                        <button type="button" class="btn btn-outline-secondary float-end mb-3">Order History</button>
                                    </a>
                                    
                                    <a href="/canceled-orders">
                                        <button type="button" class="btn btn-outline-danger float-end mb-3 mx-1">Canceled Orders</button>
                                    </a>
                                    <div class="float-end mx-4 pt-2">
                                        <div class="rounded-circle mx-1 float-start" style="width: 20px; height: 20px; background-color: #d3ea66;"> </div>
                                        <h6 class="fw-semibold mb-0 float-start mx-1">Pending Orders</h6>
                                    </div>
                                    
                                </div>
                                <hr>
                            </div>
                            <%  
                                let i = 1;
                                data.forEach((item)=>{
                            %>
                            <div class="row py-1">
                                <div class="py-3 col-sm-12">
                                    <div class="rounded p-2" style="background-color: #d3ea66;">
                                        <% if (item.status === 'prepared' || item.status === 'delivered') { %>
                                            <button type="button" class="btn btn-danger float-end m-1" disabled>Cancel Order</button>
                                        <% }else{ %>
                                        <button type="button" class="btn btn-danger float-end m-1" onclick="cancelOrder('<%= item._id %>')">Cancel Order</button>
                                        <% } %>
                                        <button type="button" class="btn btn-primary float-end m-1" data-bs-toggle="modal" data-bs-target="#reviewModal<%= i %>">
                                            Add Review
                                        </button>
                                        <div class="modal fade" id="reviewModal<%= i %>" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-secondary text-light">
                                                    <h5 class="modal-title" id="addressModalLabel">Add review</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <% item.items.forEach((element)=>{ %>
                                                            <h6 class="mb-0 px-3">
                                                                <span ><%= element.carted.foodName %></span>
                                                                <span class="float-end">
                                                                    <fieldset class="rating pb-2">
                                                                        <input type="radio" onclick="filter(this)" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                                                        <input type="radio" onclick="filter(this)" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                                                        <input type="radio" onclick="filter(this)" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                                                        <input type="radio" onclick="filter(this)" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                                                        <input type="radio" onclick="filter(this)" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                                                    </fieldset>
                                                                </span>
                                                            </h6>
                                                            <hr>
                                                        <% }) %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <p class="mb-0 px-3">Order Id : <%= item._id %></p>
                                        <p class="mb-0 px-3">Payment Method : <%= item.paymentMethod %></p>
                                        <p class="mb-0 px-3">Payment Status : <%= item.paymentStatus %></p>
                                        <p class="mb-0 px-3">Wallet Amount : <%= item.walletAmount ? item.walletAmount : 'None' %></p>
                                        <p class="mb-0 px-3">status : <%= item.status %></p>
                                        <p class="mb-0 px-3">Address : <%= item.address %></p>
                                        <p class="mb-0 px-3">Date : <%= item.time.toLocaleString("en-US", {day: "numeric", month: "short", year: "numeric"}) %></p>
                                        <p class="mb-0 px-3">Time : <%= item.time.toLocaleString("en-US", {hour: "numeric", minute: "numeric", second: "numeric", hour12: true}); %> </p>
                                        <hr>
                                        <% item.items.forEach((element)=>{ %>
                                            <span class="mb-0 px-3"><b>Dish :</b> <%= element.carted.foodName %></span><span class="mb-0 px-3"><b>Qty :</b> <%= element.quantity %></span><span class="mb-0 p-3"><b>Price :</b> <%= element.total %></span>
                                            <hr>
                                        <% }) %>
                                        <h4 class="mb-0 px-3">Total : <span class="text-danger">₹ <%= item.subTotal %></span></h4>
                                    </div>
                                </div>
                            </div>
                            <% }) %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   



    <script>
  function cancelOrder(orderId) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Cancel it!'
        }).then(async (result) => {
        if (result.isConfirmed) {
            const data = { id:  orderId};
            try {
            const response = await fetch("/cancel-order", {
                method: "DELETE",
                headers: {
                "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            });

            const result = await response.json()
            if(result.status === "success"){
                Swal.fire(
                    'Canceled!',
                     result.msg,
                    'success'
                    )
                setTimeout(() => {
                    location.reload()
                }, 800);
            }else{
                Toastify({
                text: result.msg,
                className: "info",
                style: {
                    background: "linear-gradient(to right, #ff0000, #dd2a7f)",
                }
                }).showToast();
            }
            
            } catch (error) {
                Toastify({
                text: error.message,
                className: "info",
                style: {
                    background: "linear-gradient(to right, #ff0000, #dd2a7f)",
                }
                }).showToast();
            }
        }
    })




    
}

</script>


<%- include('./includes/footer') %>