<!-- include header -->
<%- include('./includes/header') %>
    <div class="container-fluid padd-top">
        <div class="container">
            <div class="row gx-4 gx-lg-5 align-datas-center">
                
                <div class="col-lg-6 px-5"><img class="img-fluid rounded mb-4 mb-lg-0"
                        src="/food/<%= locals.data.image %>" alt="<%= locals.data.foodName %>" /></div>
                <div class="col-lg-6">
                    <div class="alert d-none ml-5" role="alert" id="alertResult">
                        <%= locals.msg %>
                    </div>
                    <%= data.category %>
                        &nbsp;
                        <i class="bi bi-circle-fill text-<%= locals.data.type === 1 ? " success" : "danger" %>"></i>

                        <h1 class="font-weight-light">
                            <%= locals.data.foodName %>
                        </h1>
                        <h3 class="pt-2">
                            <b>₹ <%= locals.data.discPrice %></b>
                            &nbsp;&nbsp;
                        </h3>
                        <span class="text-secondary"><del>₹ <%= locals.data.orgPrice %></del></span>
                        <h5 class="text-secondary py-1">
                            <%= locals.data.type===1 ? "Veg" : "Non-Veg" %>
                        </h5>
                        <h6>Description</h6>
                        <p>
                            <%= locals.data.description %>
                        </p>
                        <h6>Ingredients</h6>
                        <p>
                            <%= locals.data.ingredients %>
                        </p>
                        <form method="post" id="addToCart">
                            <div class="mb-3">
                                <input type="hidden" id="foodName" name="foodName" value="<%= locals.data.foodName %>">				
                                <input type="hidden" id="foodId" name="foodId" value="<%= locals.data._id %>">				
                                <input type="hidden" id="foodType" name="foodType" value="<%= locals.data.type===1 ? "Veg" : "Non-Veg" %>">				
                                <input type="hidden" id="price" name="price" value="<%= locals.data.discPrice %>">				
                            </div>
                            <button class="btn btn-warning w-25 fs-5 rounded-2">Add to cart</button>
                        </form>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                    <p class="text-white m-0">GREAT OFFERS ARE WAITING FOR YOU....</p>
                </div>
            </div>
            <!-- Content Row-->
            <!-- <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card One</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                                quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Two</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur
                                ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id
                                dolore voluptates quos eligendi labore.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Card Three</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni
                                quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <script>
        document.getElementById('addToCart').addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const formData = new FormData(event.target);
            const foodName = formData.get('foodName');
            const foodId = formData.get('foodId');
            const foodType = formData.get('foodType');
            const price = formData.get('price');
            // const message = `Food Name: ${foodname}\nFood ID: ${foodId}\nFood Type: ${foodType}\nPrice: ${price}`;
            // alert(message);
            try {
                if(!foodName || !foodId || !foodType){
                    throw new Error("can not add food to Cart")
                    
                }else{
                    const response = await fetch('/cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({foodName, foodId, foodType, price})
                    });
                    
                    const data = await response.json();
                    alert(JSON.stringify(data)); 
                    const alertDiv = document.getElementById('alertResult');
                    
                    if (data.status === 'success') { 
                        alertDiv.classList.remove('alert-danger');
                        alertDiv.classList.add('alert-success');
                        alertDiv.classList.remove('d-none');
                        alertDiv.innerText = data.msg;
                        //page load
                    } else {
                        alertDiv.classList.remove('alert-success');
                        alertDiv.classList.add('alert-danger');
                        alertDiv.classList.remove('d-none');
                        alertDiv.innerText = data.msg;
                    }
                }
                
            }catch (error) {
                const alertDiv = document.getElementById('alertResult')
                alertDiv.classList.add("alert-danger")
                alertDiv.classList.remove("d-none")
                alertDiv.innerText = 'An error occurred. Please try again later.';
            }
        });
    
    </script><script>
        document.getElementById('addToCart').addEventListener('submit', async (event) => {
            event.preventDefault();
            
            const formData = new FormData(event.target);
            const foodName = formData.get('foodName');
            const foodId = formData.get('foodId');
            const foodType = formData.get('foodType');
            const price = formData.get('price');
            // const message = `Food Name: ${foodname}\nFood ID: ${foodId}\nFood Type: ${foodType}\nPrice: ${price}`;
            // alert(message);
            try {
                if(!foodName || !foodId || !foodType){
                    throw new Error("can not add food to Cart")
                    
                }else{
                    const response = await fetch('/cart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({foodName, foodId, foodType, price})
                    });
                    
                    const data = await response.json();
                    alert(JSON.stringify(data)); 
                    const alertDiv = document.getElementById('alertResult');
                    
                    if (data.status === 'success') { 
                        alertDiv.classList.remove('alert-danger');
                        alertDiv.classList.add('alert-success');
                        alertDiv.classList.remove('d-none');
                        alertDiv.innerText = data.msg;
                        //page load
                    } else {
                        alertDiv.classList.remove('alert-success');
                        alertDiv.classList.add('alert-danger');
                        alertDiv.classList.remove('d-none');
                        alertDiv.innerText = data.msg;
                    }
                }
                
            }catch (error) {
                const alertDiv = document.getElementById('alertResult')
                alertDiv.classList.add("alert-danger")
                alertDiv.classList.remove("d-none")
                alertDiv.innerText = 'An error occurred. Please try again later.';
            }
        });
    
    </script>


    <!-- include footer -->
    <%- include('./includes/footer') %>