<%- include('./includes/header') %>

	<main id="main">

		<!-- ======= Hero Slider Section ======= -->
		<section id="hero-slider" class="hero-slider">
			<div class="container-md" data-aos="fade-in">
				<div class="row">
					<div class="col-12">
						<div class="swiper sliderFeaturedPosts">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-1.jpg');">
										<div class="img-bg-inner">
											<h2>Savor the Flavors of Nature</h2>
											<p>Explore a world of gastronomic wonders with our handpicked collection of farm-fresh ingredients and artisanal recipes. Elevate your culinary journey and embrace the rich tapestry of flavors found in nature's finest offerings.</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-2.jpg');">
										<div class="img-bg-inner">
											<h2>Unleash Your Inner Chef</h2>
											<p>Embark on a culinary adventure like never before! Discover a treasure trove of cooking tips, hacks, and delectable recipes curated to make you the master of your kitchen domain. Unleash your creativity and let the culinary magic unfold!</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-3.jpg');">
										<div class="img-bg-inner">
											<h2>Feast with Friends & Family</h2>
											<p>Strengthen bonds and create lasting memories over a shared table. Our handcrafted recipes, designed for groups big and small, ensure that every meal becomes a heartwarming gathering filled with laughter, love, and, of course, scrumptious delights.</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-4.jpg');">
										<div class="img-bg-inner">
											<h2>From Garden to Plate</h2>
											<p>Taste the difference that locally-sourced, organic produce makes. Indulge in a symphony of colors and flavors as we bring you the finest ingredients straight from the garden to your plate. Elevate your dining experience with our nature-inspired delicacies.</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-5.jpg');">
										<div class="img-bg-inner">
											<h2>Eating Healthy, Tasting Happiness</h2>
											<p>Let food be thy medicine! Discover a world of wholesome, nutrient-packed recipes that nourish your body and uplift your spirit. Our commitment to a healthy and happy you is showcased in every mouthwatering dish we serve. Embrace wellness with every delectable choice!</p>
										</div>
									</a>
								</div>
							</div>
							<div class="custom-swiper-button-next">
								<span class="bi-chevron-right"></span>
							</div>
							<div class="custom-swiper-button-prev">
								<span class="bi-chevron-left"></span>
							</div>

							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- End Hero Slider Section -->

		<!-- ======= Post Grid Section ======= -->
		<section id="posts" class="posts">
			<div class="container" data-aos="fade-up">
				<div class="row g-5">
					<div class="col-lg-2">
						<div class="post-entry-1 lg">
							<!-- <a href="single-post.html"><img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid"></a> -->
							<!-- <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div> -->
							<h2><a href="single-post.html">Categories</a></h2>
							<ul class="footer-links list-unstyled">
								<% 
									if (locals.categories) { 
										categories.forEach((item)=>{
								%>
									<li><a href="categories/<%= item.categoryName %>"><i class="bi bi-chevron-right"></i> <%= item.categoryName %></a></li>
								<% }) }else{ %>
									<p class="text-secondary">No products to display</p>
								<% } %>
							</ul>
						</div>
					</div>
					<div class="col-lg-10">
						<div class="row g-5">
							<% 
								if (locals.food) { 
									food.forEach((item)=>{
							%>
								<div class="col-lg-4 border-start custom-border bg-light">
									<div class="post-entry-1">
										<a href="/foodDetail?id=<%= item._id %>">
											<% if(item.image){ %>
												<img src="/food/<%= item.image %>" alt="food image" class="img-fluid">
											<% }else{ %>
												<img src="/no-image.jpg" class="img-fluid" alt="food image">
											<% } %>
										</a>
										<small class="text-secondary"><%= item.type === 1 ? "Veg" : "Non-Veg" %> &nbsp;<i class="bi bi-circle-fill text-<%= item.type === 1 ? "success" : "danger" %>"></i></small>
										<h2><a href="/foodDetail?id=<%= item._id %>"><%= item.foodName %></a></h2>
										<a href="/foodDetail/<%= item.slug %>"><button type="button" class="btn btn-danger float-end">Show Details</button></a>
										<h2 class="pt-2"><a href="/foodDetail/" class="text-success"><b>₹ <%= item.discPrice %></b></a>&nbsp;&nbsp;<small class="text-secondary"><del>₹ <%= item.orgPrice %></del></small></h2>
									</div>
								</div>
							<% }) }else{ %>
								<p class="text-secondary">No products to display</p>
							<% } %>
						</div>
					</div>
				</div> 
			</div>
		</section> 
	</main>

<%- include('./includes/footer') %>