<%- include('./includes/header') %>

	<main id="main">

		<!-- ======= Hero Slider Section ======= -->
		<section id="hero-slider" class="hero-slider">
			<div class="container-md" data-aos="fade-in">
				<div class="row">
					<div class="col-12">
						<div class="swiper sliderFeaturedPosts">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-1.jpg');">
										<div class="img-bg-inner">
											<h2>Savor the Flavors of Nature</h2>
											<p>Explore a world of gastronomic wonders with our handpicked collection of farm-fresh ingredients and artisanal recipes. Elevate your culinary journey and embrace the rich tapestry of flavors found in nature's finest offerings.</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-2.jpg');">
										<div class="img-bg-inner">
											<h2>Unleash Your Inner Chef</h2>
											<p>Embark on a culinary adventure like never before! Discover a treasure trove of cooking tips, hacks, and delectable recipes curated to make you the master of your kitchen domain. Unleash your creativity and let the culinary magic unfold!</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-3.jpg');">
										<div class="img-bg-inner">
											<h2>Feast with Friends & Family</h2>
											<p>Strengthen bonds and create lasting memories over a shared table. Our handcrafted recipes, designed for groups big and small, ensure that every meal becomes a heartwarming gathering filled with laughter, love, and, of course, scrumptious delights.</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-4.jpg');">
										<div class="img-bg-inner">
											<h2>From Garden to Plate</h2>
											<p>Taste the difference that locally-sourced, organic produce makes. Indulge in a symphony of colors and flavors as we bring you the finest ingredients straight from the garden to your plate. Elevate your dining experience with our nature-inspired delicacies.</p>
										</div>
									</a>
								</div>

								<div class="swiper-slide">
									<a href="#" class="img-bg d-flex align-items-end"
										style="background-image: url('assets/img/post-slide-5.jpg');">
										<div class="img-bg-inner">
											<h2>Eating Healthy, Tasting Happiness</h2>
											<p>Let food be thy medicine! Discover a world of wholesome, nutrient-packed recipes that nourish your body and uplift your spirit. Our commitment to a healthy and happy you is showcased in every mouthwatering dish we serve. Embrace wellness with every delectable choice!</p>
										</div>
									</a>
								</div>
							</div>
							<div class="custom-swiper-button-next">
								<span class="bi-chevron-right"></span>
							</div>
							<div class="custom-swiper-button-prev">
								<span class="bi-chevron-left"></span>
							</div>

							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- End Hero Slider Section -->

		<div class="container p-0 text-center my-3 pt-5 mt-5">
			<div class="row mx-auto my-auto justify-content-center">
				<div class="col-md-12">
					<h3>
						Great Offers
					</h3>
					<hr>
				</div>
				<div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<%  if (locals.food) { 
							let first = true
							food.forEach((item)=>{ 
						%>
							<div class="carousel-item <%= first === true ? 'active' : '' %>">
								<div class="col-md-3">
									<div class="card">
										<div class="card-img">
											<img src="/food/<%= item.image %>"
												class="img-fluid">
										</div>
										<div class="card-img-overlay" style="background-color: rgb(21, 21, 21, 0.3);">
											<h4 class="bg-warning rounded-circle" style="line-height: 100px; width: 100px;">
												<b>50%Off</b>
											</h4>	
										</div>
									</div>
								</div>
							</div>
						<%  
							first = false
							}) 
							}else{ 
						%>
							<p class="text-secondary">No products to display</p>
						<% } %>
					</div>
					<a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					</a>
					<a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
					</a>
				</div>
			</div>
		</div>


		<!-- ======= Post Grid Section ======= -->
		<section id="posts" class="posts">
			<div class="container" data-aos="fade-up">
				<div class="row">
					<div class="col-lg-2">
						<div class="post-entry-1 lg">
							<!-- <a href="single-post.html"><img src="assets/img/post-landscape-1.jpg" alt="" class="img-fluid"></a> -->
							<!-- <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div> -->
							<h2><a href="single-post.html">Categories</a></h2>
							<ul class="footer-links list-unstyled">
								<% 
									if (locals.categories) { 
										categories.forEach((item)=>{
								%>
									<li><a href="/foods?page=1&category=<%= item.categoryName %>"><i class="bi bi-chevron-right"></i> <%= item.categoryName %></a></li>
								<% }) }else{ %>
									<p class="text-secondary">No products to display</p>
								<% } %>
							</ul>
						</div>
					</div>
					<div class="col-lg-10">
						<div class="row">
							<% 
								if (locals.food) { 
									food.forEach((item)=>{
							%>
								<div class="col-md-3 border-start custom-border">
									<div class="bg-light mb-4">
										<div class="post-entry-1">
											<a href="/foodDetail/<%= item.slug %>">
												<% if(item.image){ %>
													<img src="/food/<%= item.image %>" alt="food image" class="img-fluid mb-0">
												<% }else{ %>
													<img src="/no-image.jpg" class="img-fluid" alt="food image">
												<% } %>
											</a>
											<div class="p-2">
												<small class="text-secondary"><%= item.type === 1 ? "Veg" : "Non-Veg" %> &nbsp;<i class="bi bi-circle-fill text-<%= item.type === 1 ? "success" : "danger" %>"></i></small>
												<h2 style="height: 50px; padding-top: 10px;" class=""><a href="/foodDetail/<%= item.slug %>"><%= item.foodName %></a></h2>
												<a href="/foodDetail/<%= item.slug %>"><button type="button" class="btn btn-danger float-end">Show Details</button></a>
												<h2 class="pt-2"><a href="/foodDetail/" class="text-success"><b>₹ <%= item.discPrice %></b></a>&nbsp;&nbsp;<small class="text-secondary"><del>₹ <%= item.orgPrice %></del></small></h2>
											</div>
										</div>
										</div>
								</div>
							<% }) }else{ %>
								<p class="text-secondary">No products to display</p>
							<% } %>
						</div>
						<div class="row">
							<div class="col-md-12">
								<a href="/foods">
									<button class="btn btn-primary w-25 float-end">Show More >>></button>
								</a>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</section> 
	</main>

	
    <script>
        let items = document.querySelectorAll(".carousel .carousel-item");

        items.forEach((el) => {
            const minPerSlide = 4;
            let next = el.nextElementSibling;
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = items[0];
                }
                let cloneChild = next.cloneNode(true);
                el.appendChild(cloneChild.children[0]);
                next = next.nextElementSibling;
            }
        });
    </script>

<%- include('./includes/footer') %>