
<!-- include header -->
<%- include('./includes/header') %>


  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <div
	class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
	<div class="d-flex align-items-center justify-content-center w-100">
	  <div class="row justify-content-center w-100">
		<div class="col-md-8 col-lg-6 col-xxl-3">
		  <div class="card mb-0">
			<% if (locals.status === "success") { %>
				<div class="alert alert-success" role="alert">
					<%= locals.msg %>
				</div>
				<script>
                    setTimeout(()=>{
                      window.location.href = "http://127.0.0.1:3000/"; 
                    },800)
				</script>
			<% } if(locals.status === "error"){ %>
				<div class="alert alert-danger" role="alert">
					<%= locals.msg %>
				</div>
			<% } %>
			<br>
			<div class="card-body">
                <% if (locals.status == true) { %>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="<%= locals.image %>" alt="qrcode" class="img-fluid">
                        <p>Scan QR Code using Google Authenticator App</p>
                    </div>
                <% }else{ %>
                    <div class="d-flex justify-content-center align-items-center">
                        <p><%= "Unable get the QRcode" %></p>
                    </div>
                <% } %>
			  <h1 class="text-center pt-2">Verify</h1>
			  <form class="login_form" action="/validateOtp" method="POST" id="otpForm">
                <input type="hidden" class="form-control border-secondary" id="userId" name="userId" value="<%= locals.userId %>">				
				<div class="mb-3">
					<label for="otp" id="otpLabel" class="form-label">OTP</label>
					<input type="text" class="form-control border-secondary" id="otp" name="otp" placeholder="OTP">				
				</div>
				<button class="btn btn-warning w-100 py-8 fs-4 mb-4 rounded-2">Verify OTP</button>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
<script src="assets/js/validate.js"></script>
<!-- include footer -->
<%- include('./includes/footer') %>
