<!-- include header -->
<%- include('./includes/header') %>

    <section style="background-color: #eee;">
        <div class="container profile-section">
            <div class="row">
                <%-include("./includes/profileLeft") %>
                <div class="col-lg-8">
                    <div class="card mb-4 profile-right">
                        <div class="card-body">
                            <div class="row py-3">
                                <div class="col-sm-3">
                                    <h3 class="mb-0">Wallet</h3>
                                </div>
                            </div>
                            <hr>
                            <br>
                            <div class="row py-1">
                                <div class="col-sm-3">
                                    <p class="mb-0">Balance : </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">₹ <%= locals.data[0].wallet %></p>
                                </div>
                            </div>
                            <hr>
                            <table class="table table-striped text-center">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Order Id</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Transaction</th>
                                    <th scope="col">Amount</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <% 
                                        let i = 1; 
                                        locals.data[0].walletTransactions.forEach(element => { 
                                    %>
                                        <tr>
                                            <th scope="row"><%= i %></th>
                                            <td><%= element.orderId %></td>
                                            <td>
                                                <%= element.time.toLocaleString("en-US", {day: "numeric", month: "short", year: "numeric"}) %> <br>
                                                <%= element.time.toLocaleString("en-US", {hour: "numeric", minute: "numeric", second: "numeric", hour12: true}); %> 
                                            </td>
                                            <td><%= element.TransactionType %></td>
                                            <% if (element.TransactionType === 'credit') { %>
                                                <td class="text-success">+<%= element.amount %></td>
                                            <% }else if(element.TransactionType === 'debit'){ %>
                                                <td class="text-danger">-<%= element.amount %></td>
                                            <% } %>
                                            
                                            
                                        </tr>
                                    <% i++ }) %>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- include footer -->
<%- include('./includes/footer') %>